.resource-card-container {
	display: flex;
	flex-direction: column;
	border: none;
	width: 100%;
}
.resource-card-title {
	font-family: "Tilt Neon", cursive;
}
.resource-card-body {
	font-family: "Lato", sans-serif;
}
.resource-card-body-cast {
	padding: 0;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	gap: 5px;
}
.resource-card-body-cast p {
	margin: 0;
	align-self: center;
}
.resource-card-body-stats {
	padding: 0;
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	gap: 5px;
}
#app > div.p-3.resource-container.container > div > div > div:nth-child(4) {
	gap: 1rem;
}
.anchor {
	margin-top: 0.5rem;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 0.5rem;
	text-transform: uppercase;
	align-self: center;
}

@media (min-width: 500px) {
	.resource-card-container {
		display: flex;
		flex-direction: row;
	}

	.person {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media (min-width: 900px) {
	.resource-card-container {
		max-width: 800px;
		margin: auto;
		.resource-main-card-body {
			display: flex;
			flex-direction: column;
			> * {
				margin: 0;
			}
		}
		.resource-card-body-stats {
			max-height: fit-content;
		}
		.resource-card-body-stats > * {
			margin: 0;
			max-height: 2rem;
		}
	}
}
