.resource-container {
	height: 100vh;
}
.resource-card-container {
	display: flex;
	flex-direction: column;
	border: none;
}
.resource-card-title {
	font-family: "Tilt Neon", cursive;
}
.resource-card-body {
	font-family: "Lato", sans-serif;
}
.resource-card-body-cast {
	padding: 0;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	gap: 5px;
}
.resource-card-body-cast p {
	margin: 0;
	align-self: center;
}
.anchor {
	margin-top: 0.5rem;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 0.5rem;
	text-transform: uppercase;
	align-self: center;
}

@media (min-width: 500px) {
	.resource-card-container {
		display: flex;
		flex-direction: row;
	}

	.person {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
