.movies-container {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}
.movies-card-body-container {
	padding: 0.5rem;
}
.movies-card-body-title {
	font-size: 1rem;
	font-family: "Tilt Neon", cursive;
	text-transform: uppercase;
}
.movies-card-body-rating {
	margin-right: 8px;
}
.movies-fallback-img {
	aspect-ratio: 1.8;
	object-fit: cover;
}
.movie-card-anchor {
	text-decoration: none;
}
