.navbar {
	background-color: black;
	border-bottom: 1px solid white;
}
.nav-link,
nav,
.navbar-brand {
	color: fuchsia;
	font-family: "Tilt Neon", cursive;
	text-transform: uppercase;
}
.nav-items > * {
	color: fuchsia;
	font-family: "Tilt Neon", cursive;
}
.nav-link:hover,
.nav:hover {
	color: white;
}
.navbar-nav .nav-link.active,
.nav .navbar-brand,
.navbar-brand:focus {
	color: fuchsia;
}
