.movies > * {
	font-family: "Tilt Neon", cursive;
	color: fuchsia;
	text-transform: uppercase;
}
.movies {
	background-color: black;
}
.movies h5 {
	font-size: 2rem;
}
.movies > img {
	//max-height: 350px;
	height: auto;
	border: 1px solid fuchsia;
}
.movies p {
	position: absolute;
	bottom: 0;
}
